/* Provide sufficient contrast against white background */
body {
  margin: 0
}

a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

select option {
  margin: 40px;
  background: rgb(55, 60, 75);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.mapboxgl-popup-content {
  max-width: 330px;
  border-radius: 20px;
}

.mapboxgl-popup-content {
  padding: 0;
}

.marker {
  width:0;
  height:0;
}

.marker  span {
  display:flex;
  justify-content:center;
  align-items:center;
  box-sizing:border-box;
  width: 30px;
  height: 30px;
  color:#fff;
  background: #4D2D73;
  border:solid 2px;
  border-radius: 0 70% 70%;
  box-shadow:0 0 2px #000;
  cursor: pointer;
  transform-origin:0 0;
  transform: rotateZ(-135deg);
}

.marker b {
  transform: rotateZ(135deg)
}

.temporary-marker span {
  background: #D3D3D3;
}