<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<!--Door deze header te verwijderen wordt X-Powered-By niet meer weergegeven-->
				<remove name="X-Powered-By" />
				
				<!--Door deze header toe te voegen voorkom je dat de browser MIME-type sniffing uitvoert-->
				<add name="X-Content-Type-Options" value="nosniff " />

				<!--Door deze header toe te voegen voorkom je dat de website niet kan worden ingeladen in een frame-->
				<add name="X-Frame-Options" value="DENY" />
				
				<!--
					Deze twee headers zijn bedoeld om te voorkomen dat de client het response niet cached.
					De Pragma header is o.a. voor HTTP/1.0 en de cache-control header wordt ondersteund voor HTTP/1.1
				-->
				<add name="Pragma" value="no-cache"></add>
				<add name="cache-control" value="no-cache, no-store, must-revalidate"></add>
				
				<!-- 
					Door deze header toe te voegen voorkom je schakel je het XSS-filter in.
					Wanneer het browser een XSS-aanval detecteerd, wordt de pagina niet weergegeven.
				-->
				<add name="X-XSS-Protection" value="1; mode=block"></add>
				
				<!-- 
					Deze header disabled een Azure gerelateerde cookie.
					Deze cookie is bedoeld om een gebruiker op een specifieke manier te behandelen.
				-->
				<add name="Arr-Disable-Session-Affinity" value="true"/>
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>